*{
    margin: 0%;
}
body{
    background-color: pink;
}
header{
    display: flex;
    justify-content: space-around;
    width: 98vw;
    background-color: bisque;
    position: relative;
}

.dropdown{
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

/* Footer*/
.icon{
    background: url(../images/sprite3.png) no-repeat;
    width: 66px;
    height: 66px;
}

#twitter{
    background-position: -66px -72px;
}

#facebook{
    background-position: -439px -146px;
}

#skype{
    background-position: -365px -147px ;
}
 
#youtube{
    background-position: -439px -221px;
}

@media screen and (max-width: 640px){
    .droptn{
        background-color: darksalmon;
        color: antiquewhite;
        padding: 1vw;
        font-size: 16px;
        border: none;
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }

    .dropdown-content
}